.heading{
    margin-left: 600px;
   }  
   
   
   .menu{
       display: flex;
       justify-content: space-between;
       padding: 15px;
       font-size: 20px;
      
       font-weight: 400;
       color: rgb(170, 36, 211);
   }
  

   .grid{
       display: flex;
       flex-wrap: wrap;
       margin: 40px;
      
       
   }
   .grid img{
       border: 2px solid black;
       border-radius: 50px;
   }
   .origami {
       
       border-radius: 20px;
       background-color: #18cce4ea;
       padding: 30px;
       margin: 25px;
       width:310px;
     
   }
  
